<p>
  <a href="/albums/new">New album</a>
</p>

<% for album in @albums %>
    <ul>
      <li>
        <a href="/<%= album.id %>">
          <%= album.title %></a><br>
        <a href="/artists/<%= album.artist.id %>">  <%= album.artist.name %> </a><br>
          <%= album.genre %><br>
          <%= album.label.name %><br>
          <%= album.stock_quantity %><br>
          <%= sprintf("%.2f", album.buying_cost)%><br>
          <%= sprintf("%.2f", album.selling_price) %><br>

      </li>
    </ul>
    <p><a href="/albums/<%= album.id %>/edit">Edit album</a></p>
    <hr>
<% end %>
